body{
  background-color: #fafafa;
}
/* navbar styes */
.navbar .nav-col:first-child img{
  width: 8rem;
}
.navbar{
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #e6e6e6;
}

.navbar .nav-links{
  display: flex;
  padding: 0;
  list-style-type: none;
}


.nav-link {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}

.nav-col {
  position: relative;
}

.nav-col .fa-search {
  position: absolute;
  top: 35%;
  left: 20%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.nav-col input {
  padding: 5px 0;
  padding-left: 69px;
  border: 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: #fafafa;
  font-size: 16px;
}

.nav-col ul li a i{
  font-size: 1.5rem;
  padding-top: .5rem;
}

#feed > .container{
  /* background-color: red; */
  margin-top: 25px;
  margin-bottom: 25px;
  padding:0;
}

 #feed > .container .card {
  /* background-color: blue; */
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 500px;
  min-height: 500px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 20px;
}

.card-header{
  padding: 0;
}

.profile-img{
  display: inline-block;
  border-radius: 50%;
  padding: .3rem;
}

.profile-info{
  display: inline-block;
}

.name{
  font-size: 14px;
  font-weight: bold;
}

.content img{
  width: 100%;
  height: 20rem;
}

.photo-actions a i{
  margin-right: 8px;
  
}

.no-img-text{
  font-size: 25px;
  margin-top: 15rem;
}

.first-prof-col{
  display: flex;
  justify-content: space-around;
}

.new-container{
 
  max-width: 35rem;
  margin-top: 3rem;
}

.new-img-cont .card{
  background-color:#FFFFFF;
  margin-top: .8rem;

}