body{
  background-color: #fafafa;
}
/* navbar styes */
.navbar .nav-col:first-child img{
  width: 8rem;
}
.navbar{
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #e6e6e6;
}

.navbar .nav-links{
  display: flex;
  padding: 0;
  list-style-type: none;
}


.navbar .nav-list-item {
  /* margin-left: 30px;
  padding: 0 2px; */
}

.nav-link {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}

.nav-col {
  position: relative;
}

.nav-col .fa-search {
  position: absolute;
  top: 35%;
  left: 20%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}

.nav-col input {
  padding: 5px 0;
  padding-left: 69px;
  border: 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background: #fafafa;
  font-size: 16px;
}

.nav-col ul li a i{
  font-size: 1.5rem;
  padding-top: .5rem;
}




.card{
  margin-bottom: 15px;
}