{% load static %}
<nav class="navigation">
  <div class="nav-col">
    <a href="#">
      <img src="{% static 'img/1200px-Instagram_logo.png'%}" />
    </a>
  </div>
  <div class="nav-col">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Search">
  </div>
  <div class="nav-col">
    <ul class="nav-links">
      <li class="nav-list-item">
        <a href="#" class="navigation__link">
          <i class="fas fa-home"></i>
        </a>
      </li>
      <li class="nav-list-item">
        <a href="#" class="navigation__link">
          <i class="far fa-paper-plane"></i>
        </a>
      </li>
      <li class="nav-list-item">
        <a href="#" class="navigation__link">
          <i class="fa fa-compass fa-lg"></i>
        </a>
      </li>
      <li class="nav-list-item">
        <a href="#" class="navigation__link">
          <i class="fas fa-heart"></i>
        </a>
      </li>
      <li class="nav-list-item">
        <a href="#" class="navigation__link">
          <i class="far fa-user"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>