{% load static %}
<nav class="navbar">
  <div class="container">
    <div class="nav-col">
      <a href="{% url 'index'%}">
        <img src="{% static 'img/1200px-Instagram_logo.png'%}" />
      </a>
    </div>
    <div class="nav-col">
      <i class="fas fa-search"></i>
      <form method="GET" action="{% url 'search_results' %}">
        {% csrf_token %}
        <input type="text" placeholder="Find user" name="q"  id="id_q" value="{{ request.GET.q }}">
      </form>
    </div>
    <div class="nav-col">
      <ul class="nav-links">
        <li class="nav-list-item">
          <a href="{% url 'index'%}" class="nav-link">
            <i class="fas fa-home"></i>
          </a>
        </li>
        <li class="nav-list-item">
          <a href="#" class="nav-link">
            <i class="far fa-paper-plane"></i>
          </a>
        </li>
        <li class="nav-list-item">
          <a href="#" class="nav-link">
            <i class="fa fa-compass fa-lg"></i>
          </a>
        </li>
        <li class="nav-list-item">
          <a href="#" class="nav-link">
            <i class="fas fa-heart"></i>
          </a>
        </li>
        <li class="nav-list-item">
          <a href="{% url 'image-create'%}" class="nav-link">
            <i class="fas fa-camera"></i>
          </a>
        </li>  
        <li class="nav-list-item">
          <a href="{% url 'user_profile'  username=user.username %}" class="nav-link">
            <img src="{{ user.request.profile.image.url }}" alt="" class="rounded-circle" height="30" width="30">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
