{% extends 'posts/base.html'%}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
 
  <div class="card">
    <div class="card-header">{{object.user}}</div>
    <div class="card-body"><img src="{{ object.image.url }}" alt="" width=250 height = 350></div>
    <div class="card-footer">{{ object.caption }}
    </div>
  </div>
  {% if object.user == user %}
    <a class="btn btn-secondary btn-sm" href="{% url 'image-update' object.id %}">Update</a>
    <a class="btn btn-danger btn-sm" href="{% url 'image-delete' object.id %}">Delete</a>
  {% endif %}

  <form action="{% url 'like_post' object.pk %}" method="POST">
    {% csrf_token %}
    <button type="submit" name="image_id" value="{{ object.id }}" class="btn btn-sm btn-primary">Like</button> <span>{{object.likes.count}} likes</span>
  </form>


</div>
{% endblock %}