{% extends 'posts/base.html'%}
{% load bootstrap4 %}
{% load cloudinary %}
{% load static %}
{% block content %}
<div class="container new-img-cont">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 card">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="text-center border-bottom mb-4">New Post</legend>
          {% bootstrap_form form layout='inline' %}
        </fieldset>
        <div class="form-group">
          <button type="submit" class="btn btn-primary"> Post</button>
        </div>
      </form>
    </div> 
    <div class="col-md-3"></div>
</div>

{% endblock %}